@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.topText {
  margin-bottom: 20px;
}

img {
  max-width: 100%;
  height: auto;
  width: auto;
}

.profilleContaniner {
  margin-top: 30px;
  margin-bottom: 30px;
}