@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.main-global {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: 100vh;
  text-align: center;
  margin-top: 50px;
}

.h1 {
  font-size: 3rem;
}

.top-container {
  margin-bottom: 20px;
}

.topText {
  margin-bottom: 20px;
}

/* profileSectionコンポーネント */
.profile-container {
  text-align: center;
  margin-top: 20px;
}

.profile-image {
  display: flex;
  justify-content: center;
}

img {
  max-width: 100%;
  height: auto;
  width: auto;
}

.profilleContaniner {
  margin-top: 30px;
  margin-bottom: 30px;
}

.profile-name {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
}

.profile-bio {
  font-size: 18px;
  color: #555;
  line-height: 1.5;
}

/* aboutページ */
.about-profile {
  display: flex;
  align-items: center; 
  gap: 20px;
  margin-top: 30px;
}

.profile-image {
  flex-shrink: 0; /* 画像のサイズを維持する */
}

.about-text {
  max-width: 600px;
}

.about-profile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 30px;
}

.about-profile-item {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.about-profile-text {
  margin-top: 10px;
}